---

---
<span class="w-full overflow-hidden flex flex-row gap-5">
    <img src="/visa-logo.png" class="h-8 w-auto" alt="">
    <img src="/mastercard-logo.png" class="h-8 w-auto" alt="">
    <img src="/bizum-logo.png" class="h-8 w-auto" alt="">
    <img src="/visa-logo.png" class="h-8 w-auto" alt="">
    <img src="/mastercard-logo.png" class="h-8 w-auto" alt="">
    <img src="/bizum-logo.png" class="h-8 w-auto" alt="">
    <img src="/visa-logo.png" class="h-8 w-auto" alt="">
    <img src="/mastercard-logo.png" class="h-8 w-auto" alt="">
    <img src="/bizum-logo.png" class="h-8 w-auto" alt="">
    <img src="/visa-logo.png" class="h-8 w-auto" alt="">
    <img src="/mastercard-logo.png" class="h-8 w-auto" alt="">
    <img src="/bizum-logo.png" class="h-8 w-auto" alt="">
</span>

<style>
    img{
        animation: slide 5s linear infinite;
    }
    @keyframes slide {
        0% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(calc(-300% - calc(3 * 20px)));
        }
    }
</style>