---

---
<span class="w-full overflow-hidden">
    <div class="flex items-center gap-5 animate-slide">
        <img src="/visa-logo.png" class="h-8 w-auto" alt="">
        <img src="/mastercard-logo.png" class="h-8 w-auto" alt="">
        <img src="/bizum-logo.png" class="h-8 w-auto" alt="">
        <img src="/visa-logo.png" class="h-8 w-auto" alt="">
        <img src="/mastercard-logo.png" class="h-8 w-auto" alt="">
        <img src="/bizum-logo.png" class="h-8 w-auto" alt="">
        <img src="/visa-logo.png" class="h-8 w-auto" alt="">
        <img src="/mastercard-logo.png" class="h-8 w-auto" alt="">
        <img src="/bizum-logo.png" class="h-8 w-auto" alt="">
        <img src="/visa-logo.png" class="h-8 w-auto" alt="">
        <img src="/mastercard-logo.png" class="h-8 w-auto" alt="">
        <img src="/bizum-logo.png" class="h-8 w-auto" alt="">
        <img src="/visa-logo.png" class="h-8 w-auto" alt="">
        <img src="/mastercard-logo.png" class="h-8 w-auto" alt="">
        <img src="/bizum-logo.png" class="h-8 w-auto" alt="">
        <img src="/visa-logo.png" class="h-8 w-auto" alt="">
        <img src="/mastercard-logo.png" class="h-8 w-auto" alt="">
        <img src="/bizum-logo.png" class="h-8 w-auto" alt="">
    </div>
</span>

<style>
    @keyframes slide {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(calc(-50% - 10px));
        }
    }

    .animate-slide {
        display: flex;
        white-space: nowrap;
        animation: slide 10s linear infinite;
        width: max-content;
    }
</style>
