---
---
<span class="min-w-full snap-center size-full flex flex-row justify-between items-center p-4 gap-4 bg-gradient-to-br from-gray-200 to-gray-100/25 rounded-md">
    <slot name="image" />
    <div class="size-full flex-1 flex-col gap-2">
        <slot name="title" />
        <slot name="description" />
    </div>
</span>

<style>
    span {
        animation: header-blur-scroll 0.3s linear both;
        animation-timeline: scroll();
        animation-range: 0 500px;
    }
    @keyframes service-scroll {
        0% {
            transform: translateY(-100%);
        }
        100% {
            transform: translateY(0%);
        }
    }
</style>