---
---
<li class="min-w-[95%] snap-center w-full flex flex-row justify-between items-center p-4 gap-4 bg-gradient-to-br from-gray-200 to-gray-100/25 rounded-md">
    <slot name="image" />
    <div class="size-full flex-1 flex-col gap-2">
        <slot name="title" />
        <slot name="description" />
    </div>
</li>
