---

---
<section class="relative size-full px-4 lg:max-w-[1024px]">
    <div class="absolute inset-0 bg-gradient-to-l -z-10 from-white via-gray-300 to-white"></div>
    <div class="size-full bg-white py-10 my-[1px] flex flex-col items-center gap-2.5 lg:gap-5">
        <h2 class="uppercase font-semibold text-2xl lg:text-3xl text-center w-full">Sobre nosotros</h2>
        <p>Taxi Juan 12 es una empresa de transporte en Vélez-Málaga que ofrece un servicio de
            taxi eficiente, seguro y profesional en toda la comarca de la Axarquía. Con años de
            experiencia en el sector, se ha consolidado como una de las mejores opciones para
            moverse dentro y fuera de la ciudad, garantizando comodidad, puntualidad y un trato
            amable.</p>
    </div>
</section>