---

---
<section id="aboutUs" class="relative size-full flex justify-center scroll-mt-20 lg:scroll-mt-40 lg:rounded-md overflow-hidden p-4">
    <div class="absolute inset-0 bg-[url(/taxi-12-velez.webp)] bg-cover bg-no-repeat lg:bg-fixed bg-center -z-10 brightness-50"></div>
    <div class="size-full py-10 max-w-[1024px] flex flex-col items-center gap-4 lg:gap-8 text-white">
        <h2 class="uppercase font-semibold text-2xl lg:text-3xl text-center w-full">Sobre nosotros</h2>
        <p>Taxi Juan 12 es una empresa de transporte en Vélez-Málaga que ofrece un servicio de
            taxi eficiente, seguro y profesional en toda la comarca de la Axarquía. Con años de
            experiencia en el sector, se ha consolidado como una de las mejores opciones para
            moverse dentro y fuera de la ciudad, garantizando comodidad, puntualidad y un trato
            amable.</p>
    </div>
</section>