---
import Email from "../icons/Email.astro";
import Phone from "../icons/Phone.astro";
import Whatsapp from "../icons/Whatsapp.astro";
---
<section id="contactUs" class="size-full flex flex-col items-center lg:max-w-[1024px] px-4 gap-4 lg:gap-8 lg:flex-row justify-between scroll-mt-20 lg:scroll-mt-40">
    <a href="mailto:soporte@touchphone.es" class="w-full bg-white rounded-md shadow-md border border-gray-200 hover:shadow-lg transition-shadow duration-1000">
        <div class="flex flex-col gap-4 justify-center items-center text-black p-5">
            <Email class="size-16 lg:size-20" />
            <p class="uppercase lg:text-xl font-semibold">
                Mandanos un email
            </p>
        </div>
    </a>
    <a href="tel:+34622057650" class="w-full bg-white rounded-md shadow-md border border-gray-200 hover:shadow-lg transition-shadow duration-1000">
        <div class="flex flex-col gap-4 justify-center items-center text-black p-5">
            <Phone class="size-16 lg:size-20" />
            <p class="uppercase lg:text-xl font-semibold">
                Llamanos
            </p>
        </div>
    </a>
    <a 
        target="_blank"
        href="https://wa.me/+34622057650?text=Hola,%20quisiera%20información%20sobre%20Taxi%20Juan%2012"
        class="w-full bg-white rounded-md shadow-md border border-gray-200 hover:shadow-lg transition-shadow duration-1000"
        rel="noreferrer"
    >
        <div class="flex flex-col gap-4 justify-center items-center text-black p-5">
            <Whatsapp class="size-16 lg:size-20" />
            <p class="uppercase lg:text-xl font-semibold">
                Mandanos un Whatsapp
            </p>
        </div>
    </a>
</section>