---
import HeroSlider from "../components/HeroSlider.jsx";
---
<section class="relative size-full grid place-items-center min-h-[500px] lg:min-h-[750px] max-h-dvh overflow-hidden">
    <span class="absolute inset-0 size-full -z-10 bg-black">
        <HeroSlider client:load />
    </span>

    <div class="size-full grid place-items-center backdrop-brightness-50">
        <span class="size-full flex flex-col justify-end items-end lg:max-w-[1024px] p-10">
            <span class="md:w-1/2 flex flex-col gap-5">
                <p class="text-2xl lg:text-3xl font-semibold text-white animate-fade-left animate-once animate-duration-750 animate-ease-linear">
                    Disfruta de un servicio de taxi a tu medida, con la confianza y seguridad que necesitas
                </p>
                <p class="text-white text-xl font-semibold animate-fade-left animate-once animate-delay-250 animate-duration-750 animate-ease-linear">
                    Juan Calderón
                </p>
                <a href="tel:+34622057650" class="bg-yellow-taxi text-black text-center uppercase font-extrabold py-3 px-8 rounded-full shadow-lg hover:shadow-yellow-taxi/50 hover:scale-105 transition-all duration-300">
                    Llama ahora
                </a>
                <a 
                    href="https://wa.me/+34622057650?text=Hola,%20quisiera%20información%20sobre%20Taxi%20Juan%2012"
                    target="_blank"
                    rel="noreferrer noopener"
                    class="bg-black text-yellow-taxi text-center uppercase font-extrabold py-3 px-8 rounded-full shadow-lg hover:shadow-yellow-taxi/50 hover:scale-105 transition-all duration-300"
                >
                    Reserva por Whatsapp
                </a>
            </span>
        </span>
    </div>
</section>
