---

---
<section class="size-full bg-[url(/hero-bg.svg)] bg-center bg-no-repeat bg-cover lg:bg-contain">
    <div class="bg-gradient-to-t from-white via-transparent to-white size-full grid place-items-center px-5 lg:px-10">
        <div class="lg:w-[1024px] h-[256px] lg:h-[512px] flex flex-col items-center justify-center gap-5 lg:gap-10 rounded-lg bg-[url(/malaga.avif)] brightness-50 bg-clip-text bg-fixed bg-cover bg-no-repeat">
            <h1 class="text-5xl lg:text-9xl text-transparent font-semibold text-center">Taxi Juan 12 Vélez-Málaga</h1>
            <h2 class="text-xl lg:text-5xl font-semibold text-center text-transparent">Servicio de transporte de calidad</h2>
        </div>
    </div>
</section>