---

---
<section class="relative size-full flex justify-center lg:rounded-md overflow-hidden">
    <div class="size-full max-w-[1024px] flex flex-col items-center gap-4 px-4 lg:gap-8">
        <h2 class="uppercase font-semibold text-2xl lg:text-3xl text-center w-full">Donde encontrarnos</h2>
        <span class="size-full flex flex-col-reverse lg:flex-row gap-4 lg:gap-8">
            <div class="size-full flex flex-col gap-2">
                <p class="text-lg">¡Estamos más cerca de lo que crees!</p>
                <p>Con Taxi 12, la puntualidad, seguridad y comodidad están a solo un clic de distancia. Ya sea que necesites un viaje urgente o planificado, estamos listos para llevarte a donde necesites, las 24 horas del día.</p>
                <p class="text-lg">¡Tu próximo destino comienza con nosotros!</p>
                <div class="flex flex-col gap-4 mt-2 justify-end size-full">
                    <a href="tel:+34622057650" class="text-yellow-taxi bg-black text-center uppercase font-extrabold py-3 px-8 rounded-full shadow-lg hover:shadow-yellow-taxi/50 hover:scale-105 transition-all duration-300">
                        Llama ahora
                    </a>
                    <a 
                        href="https://wa.me/+34622057650?text=Hola,%20quisiera%20información%20sobre%20Taxi%20Juan%2012"
                        target="_blank"
                        rel="noreferrer noopener"
                        class="text-black bg-yellow-taxi text-center uppercase font-extrabold py-3 px-8 rounded-full shadow-lg hover:shadow-yellow-taxi/50 hover:scale-105 transition-all duration-300"
                    >
                        Reserva por Whatsapp
                    </a>
                </div>
            </div>
            <iframe class="w-full rounded-md h-auto aspect-square" 
                src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3998.548820008333!2d-4.107972!3d36.782306!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMzbCsDQ2JzU2LjMiTiA0wrAwNicyOC43Ilc!5e1!3m2!1ses!2ses!4v1746690976363!5m2!1ses!2ses" 
                width="600" 
                height="450" 
                style="border:0;" 
                allowfullscreen="" 
                loading="lazy" 
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </span>
    </div>
</section>