---

---
<section class="size-full flex flex-col items-center lg:max-w-[1024px] gap-2.5 lg:gap-5">
    <h2 class="uppercase font-semibold text-2xl lg:text-3xl text-center w-full">Metodos de pago</h2>
</section>