---
import FlipCard from "../components/FlipCard.astro";


---
<section class="size-full flex flex-col items-center lg:max-w-[1024px] gap-2.5 lg:gap-5">
        <h2 class="uppercase font-semibold text-2xl lg:text-3xl text-center w-full">Servicios</h2>
    <div class="size-full flex flex-col lg:flex-row gap-4 px-20">
        <FlipCard />
        <FlipCard />
        <FlipCard />
        <FlipCard />
    </div>
</section>