---

---
<section class="size-full px-4 lg:max-w-[1024px] flex flex-col items-center gap-4 lg:gap-8">
    <span class="flex flex-col items-center">
        <h2 class="text-5xl lg:text-8xl font-semibold text-center">Taxi 12</h2>
        <p class="text-3xl lg:text-6xl font-semibold">Vélez-Málaga</p>
    </span>
    <div class="flex flex-col gap-2">
        <p>¿Necesitas un taxi cerca de Vélez-Málaga? ¡Estamos disponibles las 24 horas! Ofrecemos un servicio confiable en toda la Axarquía Malagueña. Disfruta de un traslado a medida, adaptado a tus necesidades.</p>
        <p>Te llevamos donde necesites, ya sea dentro del país o al extranjero. También realizamos recogidas en el aeropuerto de Málaga para que viajes sin preocupaciones.</p>
        <p>No hay límites en nuestros recorridos, solo el destino que elijas. Relájate y disfruta del viaje, nosotros nos encargamos del resto.</p>
    </div>
</section>